{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SION</title>

    <!-- bootstrap csss -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/simpletextrotator.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

</head>
<style type="text/css">
  .center-pills { 
    display: inline-block; 
    color: black;
  }
  .nav>li>a:active,
.nav>li>a:hover,
.nav>li>a:focus {
   background-color: black;
   color: black;
}
</style>

<body> 
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <h1><strong>SION.</strong></h1>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li><a href="#">Profil</a></li>
        <li><a href="#">Lihat Organisasi</a></li>
        <li><a href="#">Donasi Ke Organisasi</a></li>
        <li><a href="#">Donasi Ke Kegiatan</a></li>
      </ul>
      <div class="navbar-form navbar-right"><span>
        <a>Welcome, <strong>{{nama}}</strong></a>
        <a href="/logout" id="themebtn" class="btn btn-default">Logout</a>
      </span>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="center">
    <center>
<h1 style="font-size: 500%"><strong>Welcome, {{nama}}!<strong></h1>
</body>
<script type="text/javascript" src="{% static 'js/jquery.simple-text-rotator.js' %}"></script>
<script type="text/javascript" src="{% static 'js/login.js' %}"></script>