{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SION</title>

    <!-- bootstrap csss -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/simpletextrotator.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.simple-text-rotator.js' %}"></script>
<script type="text/javascript" src="{% static 'js/login.js' %}"></script>

</head>
<style type="text/css">
  .center-pills { 
    display: inline-block; 
    color: black;
  }
  .nav>li>a:active,
.nav>li>a:hover,
.nav>li>a:focus {
   background-color: black;
   color: black;
}
</style>

<body> 
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <h1><strong>SION.</strong></h1>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
  </div><!-- /.container-fluid -->
</nav>
<div class="col-sm-6" style="top: 50%;">
    <center>
 <h1 class="demo1" style="font-size: 500%"><strong>Pilih peranmu. <span class="rotate">Sponsor, Donatur, Relawan</span>.<strong></h1>
        <center><h2>di <strong>Sistem Informasi Organisasi Nirlaba</strong></h2></center>
        <span>
</span>
</center>
</div>
<div class="col-sm-6" style="top: 10%;">
    <center>
 <h2><strong>Mendaftar Sebagai</strong></h2>
 <ul class="nav nav-pills center-pills">
  <li><a data-toggle="tab" href="#sponsor" style="color: white;">Sponsor</a></li>
  <li><a data-toggle="tab" href="#donatur" style="color: white;">Donatur</a></li>
  <li><a data-toggle="tab" href="#relawan" style="color: white;">Relawan</a></li>
</ul>
</span>
<div class="tab-content">
   <div id="a" class="tab-pane fade in active">
    <h3>Pilih Peran</h3>
    <p>untuk melanjutkan</p>
  </div>
  <div id="sponsor" class="tab-pane fade">
    <form class="p-4 bg-light" method="post" action="/register_sponsor/">
        {% csrf_token %}
            <div class="form-group">
              <input class="form-control" name="name" placeholder="Company Name" required="required"> </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Company Email" required="required"> </div>
            <div class="form-group">
              <input type="password" class="form-control" name="pass" placeholder="Password" required="required"> </div>
            <div class="form-group">
              <input class="form-control" name="address" placeholder="Street" id="street" required="required"> </div>
            <div class="form-group">
              <select class="form-control my-select-city" name="city" style="width: 100%; text-align: left;">
                <option value=""></option>
                    </select>
                  </div> 
              <div class="form-group">
              <input type="number" class="form-control" name="postal" id="postal" placeholder="Postal Code" required="required"> </div>
            <div class="form-group">
              <p id="order-address"></p>
              <input type="hidden" value="" name="alamat" id="alamat" />
              <p>Upload Logo</p><input id="id_docfile" type="file" name="docfile" accept="image/*"> </div>
            <button type="submit" class="btn mt-4 btn-block p-2 btn-primary">
              <b>Daftar!</b>
            </button>
          </form>

  </div>
  <div id="donatur" class="tab-pane fade">
    <form class="p-4 bg-light" method="post" action="/register_donatur/">
            {% csrf_token %}
            <div class="form-group">
              <input class="form-control" name="name" placeholder="Company Name" required="required"> </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Company Email" required="required"> </div>
            <div class="form-group">
              <input type="password" class="form-control" name="pass" placeholder="Password" required="required"> </div>
            <div class="form-group">
              <input class="form-control" name="address" placeholder="Street" id="street2" required="required"> </div>
            <div class="form-group">
              <select class="form-control my-select-city2" name="city" style="width: 100%; text-align: left;">
                <option value=""></option>
                    </select>
                  </div> 
              <div class="form-group">
              <input type="number" class="form-control" name="postal" id="postal2" placeholder="Postal Code" required="required"> </div>
            <div class="form-group">
              <p id="order-address2"></p>
              <input type="hidden" value="" name="alamat" id="alamat2" />
            </div>
            <button type="submit" class="btn mt-4 btn-block p-2 btn-primary">
              <b>Daftar!</b>
            </button>
          </form>

  </div>
  <div id="relawan" class="tab-pane fade">
  <form class="p-4 bg-light" method="post" action="/register_relawan/">
        {% csrf_token %}
            <div class="form-group">
              <input class="form-control" name="name" placeholder="Company Name" required="required"> </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Company Email" required="required"> </div>
            <div class="form-group">
              <input type="password" class="form-control" name="pass" placeholder="Password" required="required"> </div>
              <div class="form-group">
              <input type="date" class="form-control" name="birth"> </div>
            <div class="form-group">
              <input class="form-control" name="address" placeholder="Street" id="street3" required="required"> </div>
            <div class="form-group">
              <select class="form-control my-select-city3" name="city" style="width: 100%; text-align: left;">
                <option value=""></option>
                    </select>
                  </div> 
              <div class="form-group">
              <input type="number" class="form-control" name="postal" id="postal3" placeholder="Postal Code" required="required"> </div>
        <div class="form-group">
          <input type="tel" name="number" class="form-control" placeholder="Phone Number" required="required"> </div>
        <div class="form-group">
          <input class="form-control" name="skills" placeholder="Skills (pisahkan dengan koma)" required="required"> </div>
                      <div class="form-group">
              <p id="order-address3"></p>
              <input type="hidden" value="" name="alamat" id="alamat3" />
            </div>
        <button type="submit" class="btn mt-4 btn-block p-2 btn-primary">
          <b>Daftar!</b>
        </button>
        </form>

  </div>
</div>
</center>
</div>



<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
          <div class="modal-dialog">
                <div class="loginmodal-container">
                    <h1 style="color: #e570e7;"><strong>Masuk</strong> ke akun kamu</h1><br>
                  <form>
                    <input type="text" name="user" placeholder="Username">
                    <input type="password" name="pass" placeholder="Password">
                    <select class="selector" style="color: #7a777d">
                        <option value="" selected disabled>Sebagai apakah kamu?</option>
                        <option value="">Admin</option>
                        <option value="">Sponsor</option>
                        <option value="">Donatur</option>
                        <option value="">Relawan</option>
                        <option value="">Pengurus Organisasi</option>
                    </select>
                    <input data-animation="ripple" type="submit" name="login" class="login loginmodal-submit" value="Login">
                  </form>
                  <div class="login-help">
                    <a style="color: #e570e7;">Belum Bergabung? <strong>Daftar Sekarang</strong></a>
                  </div>
                </div>
            </div>
          </div>

</body>